@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: ) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.link
 {
    width: 15vw;
    height: 3vh;
    border-radius: 5%;
    text-align: center;
    border: none;
    background: rgb(246, 158, 12);
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
  }
  
  .link:hover {
   transform: translateY(-10px);
  width: 15vw;
  height: 5vh;
  border-radius: 5%;
  border: none;
  background: slateblue;
  color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  box-shadow:
 1px 1px #53a7ea,
 2px 2px #53a7ea,
 3px 3px #53a7ea;
 -webkit-transform: translateX(-3px);
 transform: translateX(-3px);
}


.headingA {
  -webkit-text-stroke-width: 2.33px;
   -webkit-text-stroke-color: #ffffff;
}

.headingG {
  -webkit-text-stroke-width: 0.33px;
  -webkit-text-stroke-color: #ffffff;

}

.headingB {
  -webkit-text-stroke-width: 1.33px;
  -webkit-text-stroke-color: #ffcc00;
  font-family: "Architects Daughter";
}

.headingC {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
}

.headingD {
  -webkit-text-stroke-width: 0.66px;
  -webkit-text-stroke-color: #595959;
  font-family: "Architects Daughter";
  font-weight: extrabold;
}

.headingE {
  -webkit-text-stroke-width: 3.99px;
  -webkit-text-stroke-color: #595959;
  font-family: "Bowlby One SC";
  font-weight: extrabold;
}
