@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: ) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  width: 100%;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}


grid-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

grid-container{

  display: grid;
grid-template-rows: auto 1fr auto;
grid-template-columns: 100%; 
}

.headingA {
  -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: #ffffff;
   
   
}

.headingG {
  -webkit-text-stroke-width: 0.33px;
  -webkit-text-stroke-color: #ffffff;
  font-family: "Architects Daughter"

}

.headingB {
  -webkit-text-stroke-width: 1.13px;
  -webkit-text-stroke-color: #ffffff;
  font-family: "Architects Daughter";
  font-weight: 900;
}

.headingC {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
}

.headingD {
  -webkit-text-stroke-width: 0.66px;
  -webkit-text-stroke-color: #595959;
  font-family: "Architects Daughter";
  font-weight: extrabold;
}

.headingE {
  -webkit-text-stroke-width: 3.99px;
  -webkit-text-stroke-color: #eae7e7;
  font-family: "Bowlby One SC";
  
}

input#nav-toggle:checked + label #show-button {
  @apply hidden;
}

input#nav-toggle:checked + label #hide-button {
  @apply block;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply block;
}

.header {
  @apply bg-red-900 py-6 dark:bg-slate-700;
}

input#nav-toggle:checked + label #show-button {
	@apply hidden;
}
input#nav-toggle:checked + label #hide-button {
	@apply block;
}
input#nav-toggle:checked ~ #nav-menu {
	@apply block;
}
.header {
	@apply bg-red-900 py-6 dark:bg-slate-700;
}
.navbar {
	@apply relative flex flex-wrap items-center justify-between;
}
.navbar-brand {
	@apply text-xl font-semibold text-gray-100 dark:text-gray-200;
}
.navbar-brand image {
	@apply max-h-full max-w-full;
}
.navbar-nav {
	@apply text-center lg:text-left;
}
.social-icons {
	@apply mb-5 space-x-4;
}
.social-icons li {
	@apply inline-block;
}
.social-icons li a {
	@apply flex h-9 w-9 items-center justify-center rounded bg-slate-500 hover:bg-amber-500 text-center leading-9 text-white dark:text-gray-100;
}
.social-icons li a svg {
	@apply h-5 w-5;
}

.copyright {
  background-color: rgb(246, 158, 12);
}
